# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Labyrinth For Ball.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Asus\OneDrive\Рабочий стол\AllWithUnity\CreateWithScripts\Labyrinth For Ball\.idea\.idea.Labyrinth For Ball\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
